body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.dwc-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dwc-logo img {
  max-width: 24px;
}

.dwc__toolbar-drawer {
  display: flex;
  align-items: center;
  gap: var(--dwc-space-m);
  padding: 0 var(--dwc-space-m);
  height: 54.21875px;
}

.drawer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--dwc-space-m) 0;
  margin-bottom: var(--dwc-space-m);
  border-bottom: thin solid var(--dwc-color-default) !important;
}

.drawer__logo img {
  max-width: 100px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  dwc-tab span {
    display: none;
  }
}

.welcome__drawer::part(control) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35em;
}

.welcome__drawer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#text-30 p {
  text-align: center;
}

img {
  max-height: 300px;
  width: 100%;
  max-width: 225px;
  background-color: white;
}
