.drawer{
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

