.frame{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.element--label{
  display: block;
  font:
    1.5em 'Fira Sans',
    sans-serif;
  padding-bottom: 10px;
}

.element--input{
  display: block;
  margin: 0;
  padding: 1em 1.5em;
  width: 50%;
  font-size: 1.75em;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}

.element--input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem rgba(0, 0, 0, 0.12);
}