.appPanel{
    display: inline-grid;
    padding: 10px;
    gap: 10px;
    width: 100%;
    justify-items: center;
    background: white;
}

bbj-slider{
    width: 500px;
}

.BBjTopLevelWindow{
    background-color: white !important;
}