.Frame{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 100%;
    align-items: center;
    background: white;
    height: 100%;
}

.BBjWindow{
    background-color: white !important;
}
