.frame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.todo--display{
  min-width: 30%;
  box-shadow: var(--dwc-shadow-l);
  background-color: var(--dwc-surface-3);
  padding: var(--dwc-space-m);
  border: thin solid var(--dwc-color-default);
  border-radius: var(--dwc-border-radius);
  padding-bottom: 0px;
  
  @media only screen and (max-width: 1200px) {
    min-width: 50%;
  }
}

.item__todo--display:last-child{
  border-bottom: none !important;
}

.item__todo--display{
  border-bottom: 1px solid var(--dwc-color-default) !important;
  background-color: var(--dwc-surface-3);
  padding: var(--dwc-space-m) 0;
}