.frame {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
  gap: 20px;
  width: 200px;
}

.text{
  font-size: large;
  font-weight: bold;
}

body,
html {
  overflow: hidden;
}

.drawer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--dwc-space-m) 0;
  margin-bottom: var(--dwc-space-m);
  border-bottom: thin solid var(--dwc-color-default) !important;
}

.drawer__logo img {
  max-width: 100px;
  border-radius: 10px;
}

.layout__header {
  display: flex;
  align-items: center;
  gap: var(--dwc-space-m);
  padding: 0 var(--dwc-space-m);
  flex-wrap: wrap;
}

.layout__header--title {
  display: block;
  font-size: 1.25em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.layout__second__header {
  flex-basis: 100%;
  margin: calc(-1 * var(--dwc-space-m)) 0 0 calc(-1 * var(--dwc-space-m));
}
