:root{
  /*Overriding list item color to make hover more noticeable*/
  --bbj-list-item-color: #393D48;
}

.frame {
  display: flex;
  margin: 20px 0 0 20px;
  width: 200px;
}

[data-dropdown-for="demo-dropdown-type"]::part(list){
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  overflow: hidden;
}

[data-dropdown-for="demo-dropdown-type"]::part(item) {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

[data-dropdown-for="demo-dropdown-type"]:not(.control__item--selected)::part(item):hover{
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  transform: scale(1.2) translateX(10px); /* Scale up the list item on hover */
  color: var(--bbj-color-primary-text);
  cursor: pointer; /* Change cursor to indicate interactivity */
}