:root{
  --bbj-list-item-color: #393D48;
  /* --bbj-list-button-label-hover-color: var(--bbj-color-primary-text) */
  --bbj-list-selected-color: white !important;
}

.frame {
  display: flex;
  margin: 20px 0 0 20px;
  width: 200px;
}

[data-dropdown-for="demo-dropdown-type"]::part(list) {
  transition: transform 250ms ease-in-out;
  overflow: hidden;
}

[data-dropdown-for="demo-dropdown-type"]::part(item) {
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
  border: 1px solid transparent;
  margin: 1.5px 0;
}

[data-dropdown-for="demo-dropdown-type"]::part(item):hover {
  transform: scale3d(1.2, 1.2, 1) translateX(10px);
  color: var(--bbj-color-primary-text);
  cursor: pointer;
}

[data-dropdown-for="demo-dropdown-type"]::part(item--selected):hover {
  color: var(--bbj-color-white);
}

