.Frame{
    display: flex;
    margin-top: 20px;
    background: white;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.container{
    display: flex;
    gap: 30px;
    background: white;
}

.BBjWindow{
    background-color: white !important;
}
