.appPanel{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background: white;
    width: 100%;
    justify-content: center;
}

.BBjTopLevelWindow{
    background-color: white !important;
}