.Frame {
  display: inline-grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  padding: 10px;
  gap: 20px;
  width: 100 vw;
  justify-content: center;
}

.BBjWindow {
  overflow-x: scroll;
}
