body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--dwc-surface-1);
}

.dwc__toolbar-drawer {
  display: flex;
  align-items: center;
  gap: var(--dwc-space-m);
  padding: var(--dwc-space-m);
  background-color: var(--dwc-surface-2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dwc__toolbar-drawer h3 {
  margin: 0;
  line-height: 1;
  font-size: var(--dwc-font-size-l);
  font-weight: bold;
  color: var(--dwc-text-primary);
}

.navigation__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--dwc-space-m) 0;
  margin-bottom: var(--dwc-space-m);
}

.welcome__drawer::part(control) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; 
  padding: var(--dwc-space-l);
}

.welcome__drawer::part(header), 
.welcome__drawer::part(footer) {
  display: none; 
}

.welcome__drawer::part(body) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  gap: var(--dwc-space-s);
}