.BBjTopLevelWindow{
    background-color: white !important;
}

bbj-button{
    width: 160px;
    height: 75px !important;
}

.appPanel{
    display: flex;
    margin-top: 20px;
    gap: 50px;
    background: white;
    width: 100%;
    justify-content: center;
}