.BBjWindow{
    background-color: white !important;
}

.Frame{
    display: flex;
    margin-top: 20px;
    gap: 50px;
    background: white;
    width: 100%;
    justify-content: center;
}

.disabledButtons{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
