.appPanel{
    display: block;
    padding: 10px;
    background: white;
}

.disabledButtons{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;

}
