.Frame{
    display: flex;
    margin-top: 20px;
    background: white;
    width: 100%;
    justify-content: center;
}

.container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    background: white;
    align-items: center;
}
.BBjTopLevelWindow{
    background-color: white !important;
}
