.Frame{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
    background: white;
}

.BBjTopLevelWindow{
    background-color: white !important;
}
