.Frame {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 50px;
  height: 62%;
  width: 100%;
  height: 100%;
}

dwc-list-edit {
  width: 200px;
}

