.chart-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto); 
    padding: 20px;
    gap: 20px;
    margin: 10px;
    height: auto;
    overflow-y: auto;
	max-height: 100vh;
}

.chart-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.chartname {
  margin-bottom: 10px; 
  font-weight: 700;
  font-size: 1rem;
}