.chart-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(350px, auto); 
    padding: 30px;
    gap: 30px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.chart-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chartname {
  margin-bottom: 20px; 
  font-weight: 600;
  font-size: 1.2rem;
  color: #333333;
}