.BBjWindow-center {
  overflow-y: scroll !important;
}

.button__container {
  margin: 20px 20px 0 20px;
  flex: 3;
  border: 1px solid var(--bbj-color-default) !important;
  border-radius: 3px;
  height: 300px;
  background-position: -0.5px 0px;
  padding: var(--bbj-space);
}

.button__container--single-row {
  margin: 20px 20px 0 20px;
  flex: 3;
  border: 1px solid var(--bbj-color-default) !important;
  border-radius: 3px;
  background-position: -0.5px 0px;
  padding: var(--bbj-space);
}

bbj-button {
  height: 45px;
  width: 90px;
}

.option__heading {
  font-weight: bold;
  margin-top: 15px;
}

.flex__options {
  padding: 20px 20px 0 20px;
}

.code__block {
  margin: 20px 20px 0 20px;
  width: calc(100% - 40px);
}

bbj-list-button {
  width: 250px;
}

bbj-inputn::part(input-wrapper) {
  height: unset;
}
