dwc-window-center {
  overflow-y: scroll !important;
}

.button__container {
  margin: 20px 20px 0 20px;
  flex: 3;
  border: 1px solid var(--dwc-color-default) !important;
  border-radius: 3px;
  height: 300px;
  background-position: -0.5px 0px;
  padding: var(--dwc-space);
  overflow: hidden !important;
}

.button__container--single-row {
  margin: 20px 20px 0 20px;
  flex: 3;
  border: 1px solid var(--dwc-color-default) !important;
  border-radius: 3px;
  background-position: -0.5px 0px;
  padding: var(--dwc-space);
}

dwc-button {
  height: 45px;
  width: 90px;
}

.option__heading {
  font-weight: bold;
  margin-top: 15px;
}

.flex__options {
  padding: 20px 20px 0 20px;
}

.code__block {
  margin: 20px 20px 0 20px;
  width: calc(100% - 40px);
}

dwc-list-button {
  width: 250px;
}

dwc-numberfield::part(input-wrapper) {
  height: unset;
}

.demo__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 90px;
  font-weight: bold;
  border-radius: var(--dwc-border-radius);
}