/*
Will need to put some styles in here for the thing
*/

.main__layout {
  margin: 25px 20% 10px 20%;
}

.main__layout * {
  padding: 1px 2px 2px 2px;
}

dwc-button {
  width: 100px;
}

dwc-field {
  flex: 1;
}
