.BBjTopLevelWindow{
    background-color: white !important;
}

.Frame{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 50px;
    background: white;
    width: 100%;
    align-items: center;
}

