.item-card {
  border-radius: var(--dwc-border-radius-l);
  padding: var(--dwc-space-l);
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dwc-surface-3);
  box-shadow: var(--dwc-shadow-s);
}

.product-icon {
  font-size: 75px;
}

.product-title {
  font-size: var(--dwc-font-size-l);
  font-weight: bold;
}

.likecart-div {
  display: flex;
  justify-content: space-between;
  align-items: bottom; 
  width: 100%;
}

.like-icon {
  cursor: pointer;
  font-size: var(--dwc-font-size-s);
  color: #ff6b6b;
  margin-bottom: var(--dwc-space-s);
}

.add-to-cart-button {
  margin-right: 0; 
}

