.Frame {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  background: white;
  width: 100%;
  align-items: center;
  height: 100%;
}

.progress__bar {
  width: 400px;
}
