.BBjTopLevelWindow{
    background-color: white !important;
}

/* .appPanel{
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 10px 10px 50px;
    gap: 50px;
    background: white;
    width: 100%;
    justify-items: center;
    justify-content: center;
} */

.appPanel{
    display: flex;
    margin-top: 20px;
    gap: 200px;
    background: white;
    width: 100%;
    justify-content: center;
}

.barHz{
    height: 30px;
    width: 400px;
    align-self: center;
    grid-column: 1;
}

.barVt{
    height: 400px;
    width: 30px;
    grid-column: 2;
    justify-self: center;
}