.Frame {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: white;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}

.layout{
  margin: 20px 0 0 20px;
}

.BBjWindow {
  background-color: white !important;
}