.Frame {
  display: inline-grid; 
  grid-auto-flow: row; 
  gap: var(--dwc-space-l);
  padding: var(--dwc-space-l);
  overflow-x: auto; 
  white-space: nowrap; 
  box-sizing: border-box; 
  width: 100%;
}

.ButtonRow {
  display: inline-flex; 
  flex-wrap: nowrap; 
  gap: var(--dwc-space-l); 
  white-space: nowrap;
}