.Frame {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

.container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}