body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bbj-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bbj-logo img {
  max-width: 24px;
}

.drawer__bbj-toolbar {
  display: flex;
  align-items: center;
  gap: var(--bbj-space-m);
  padding: 0 var(--bbj-space-m);
  height: 54.21875px;
}

.bbj-toolbar {
  display: flex;
  align-items: center;
  gap: var(--bbj-space-m);
  padding: 0 var(--bbj-space-m);
  background-color: var(--bbj-color-primary);
  height: 54.21875px;
  
  strong{
    color: var(--bbj-color-on-primary-text) !important;
  }
}

.bbj__toolbar-drawer {
  display: flex;
  align-items: center;
  gap: var(--bbj-space-m);
  padding: 0 var(--bbj-space-m);
  height: 54.21875px;
}

.drawer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--bbj-space-m) 0;
  margin-bottom: var(--bbj-space-m);
  border-bottom: thin solid var(--bbj-color-default) !important;
}

.drawer__logo img {
  max-width: 100px;
  border-radius: 10px;
}

.card {
  padding: var(--bbj-space-m);
  margin: var(--bbj-space-m) 0;
  border: thin solid var(--bbj-color-default);
  border-radius: var(--bbj-border-radius-m);
  background-color: var(--bbj-surface-3);
}

.layout__header {
  display: flex;
  align-items: center;
  gap: var(--bbj-space-m);
  padding: 0 var(--bbj-space-m);
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  bbj-tab span {
    display: none;
  }
}
