body,html {
  overflow: hidden;
}

*{
  background-color: white;
}

:root {   
  --bbj-app-layout-header-collapse-height: 45px;
}

.drawer__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--bbj-space-m) 0;
    margin-bottom: var(--bbj-space-m);
    border-bottom: thin solid var(--bbj-color-default) !important;
}

.drawer__logo img {
    max-width: 100px;
    border-radius: 10px;
}

.layout__header {
    display: flex;
    align-items: center;
    gap: var(--bbj-space-m);
    padding: 0 var(--bbj-space-m);
    flex-wrap: wrap;
}


.layout__header--title{
    display: block;
    font-size: 1.25em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.layout__second__header{
  flex-basis: 100%;
  margin: calc(-1 * var(--bbj-space-m)) 0 0 calc(-1 * var(--bbj-space-m));
}

.card{
  padding: var(--bbj-space-m);
  margin: var(--bbj-space-m) 0;
  border: thin solid var(--bbj-color-default);
  border-radius: var(--bbj-border-radius-m);
  background-color: var(--bbj-surface-3);
}