body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bbj-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bbj-logo img {
  max-width: 24px;
}

.bbj-toolbar {
  display: flex;
  align-items: center;
  gap: var(--bbj-space-m);
  padding: 0 var(--bbj-space-m);
  /* background-color: var(--bbj-color-primary); */
  /* color: var(--bbj-color-on-primary-text); */
  height: 54.21875px;
}

.drawer__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--bbj-space-m) 0;
  margin-bottom: var(--bbj-space-m);
  border-bottom: thin solid var(--bbj-color-default) !important;
}

.drawer__logo img {
  max-width: 100px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  bbj-tab span {
    display: none;
  }
}