.window {
  display: flex;
  margin: 20px;
 }

.closebutton, .viewbutton {
  --dwc-button-background: #ffb700;
  --dwc-button-border-color: #ffb700;
  --dwc-button-color: #000000;
  
  --dwc-button-hover-background: #ffb700;
  --dwc-button-hover-border-color: #ffb700;
  --dwc-button-hover-color: #000000;

  --dwc-button-focus-border-color: #ffb700;
  --dwc-button-focus-ring: none;

  --dwc-button-active-background: #ffb700;
  --dwc-button-active-color: #000000;
}

.custom-theme {
  --dwc-toast-background: #ffb700;
  --dwc-toast-color: #000000;
  --dwc-toast-border-color: #ffa500;
}