.Frame{
    display: flex;
    margin-top: 20px;
    gap: 50px;
    background: white;
    width: 100%;
    justify-content: center;
    height: 100%;

}

.BBjWindow{
    background-color: white !important;
}
